.app-project{
    background-color: #333;
}
.page{
    margin-top: -48px;
    background-color: rgb(204, 204, 204);
    height: 100%;
    h1{
        font-size: 100px;
    }
    .skill{
        h1:10px;
    }
    
}